{# Página de Contribuir. #}

{% extends "layout.html" %}

{% set pageId = "page-who-and-contribution" %}

{% block title %}

    <title>

        Contribuir

    </title>

{% endblock title %}

{% block styles %}

    <link rel = "stylesheet" href = "/styles/pages-who-and-contribution.css">

{% endblock styles %}

{% block content %}

    {# Incluindo o Cabeçalho. #}
    {% include "partials/page-header.html" %}
      
    <main class = "contribution" >

        <h1>

            Contribua com a causa e mantenha o site no ar!

        </h1>

        <div class = "content">

            <div>

                <h2>

                    Banco do Brasil

                </h2>

                    <p class = "contribution">
                        
                        Agência: XXXX-X <br> 

                        Conta: YYYY-Y <br> <br> <br> <br>

                       A natureza e a equipe do Ecoleta agradecem &#128154;

                    </p>

            </div>

            <img src = "https://images.unsplash.com/photo-1519567770579-c2fc5436bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">

        </div>

    </main>

{% endblock content %}
