/* CSS da Página Search State que aparece por cima da Home. */

/* Formatação da Página no geral. */
#modal {

    align-items: center;

    background-color: #0E0A14ef;

    display: flex;

    height: 100vh;

    justify-content: center;

    /* Posição fixada na Página. */
    position: fixed;

    transition: 400ms;

    top: 0;

    width: 100vw;

}

#modal.hide {

    display: none;

}

/* Conteúdo da página. */
#modal .content {

    color: white;

    width: 420px;

}

/* Cabeçalho da página. */
#modal .header {

    align-items: center;

    display: flex;

    justify-content: space-between;

    margin-bottom: 48px;

}

/* Tag <a> inserida no Cabeçalho. */
#modal .header a {

    /* Setinha de voltar para o Home. */
    background-image: url(../assets/x.svg);

    display: flex;

    font-size: 0.01px;

    height: 20px;

    width: 20px;

}

/* Tag <h1> inserida no Cabeçalho. */
#modal .header h1 {

    color: white;

    font-size: 36px;

    line-height: 42px;

}

/* Label que está escrito "Estado". */
#modal form label {

    display: block;

    font-size:  20px;

    line-height: 20px;

    margin-bottom: 12px;

}

/* Campo inserido dentro do form. */
#modal form .field {

    display: flex;

}

/* Entrada do usuário inserida.  */
#modal form input {

    background-color: var(--background-color);

    border: 0;

    border-radius: 8px 0 0 8px;

    color: #6c6c80;

    flex: 1;

    font-size: 16px;

    padding: 16px 24px;
}

/* Botão inserido dentro do form. */
#modal form button {

    background-color: var(--primary-color);

    border: 0;

    border-radius: 0 8px 8px 0;

    height: 72px;

    width: 72px;

}

#modal form button:hover {

    background-color: #2fb85e;

    transition: 400ms;

} 

/* Página de conclusão. */
#modal.point .content {

    align-items: center;

    display: flex;

    flex-direction: column;

}

/* h1 da página de conclusão. */
#modal.point h1 {

    color: white;

    margin-top: 32px;

}

